/* 26 */
p.rainbowtext {
    animation-name: rainbowtext;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes rainbowtext {
    0% {
        color:red;
        font-size: 20px;
    }
    25% {
        color: orange;
    }
    50% {
        color: yellow;
        font-size: 40px;
        transform: translate(200px);
    }
    75% {
        color: green;
    }
    85% {
        color: blue;
    }
    100% {
        color: purple;
        font-size:20px;
    }
}

/* 28 */
body.sky {
    margin: 0;
    background-color: #2c3e50;
    animation-name: sky;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.grass {
    background: green;
    height:600px;
    width:100%;
    position: absolute;
}

div.sun {
    background: #f1c40f;
    width:200px;
    height:200px;
    border-radius: 50%;
    animation-name: risingsun;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes risingsun {
    0% {
        background-color: orange;
        transform: translate(0%, 0%);
    }
    25% {
        background-color: yellow;
        transform: translate(250px, -100px);
    }
    40% {
        transform: translate(420px, -120px);
    }
    50% {
        transform: translate(500px, -150px);
    }
    60% {
        transform: translate(630px, -120px);
    }
    75% {
        background-color: yellow;
        transform: translate(750px, -100px);
    }
    100% {
        background-color: red;
        transform: translate(1000px, 400px);
        
    }
}

@keyframes sky {
    0% {
        background-color: black;
    }
    10% {
        background-color: pink;
    }
    30% {
        background-color: blue;
    }
    70% {
        background-color: blue;
    }
    90% {
        background-color: pink;
    }
    100% {
        background-color: black;
    }
}

/* 31 */
.loader {
    border: 16px solid #bdc3c7;
    width:120px;
    height:120px;
    margin: auto;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: coloredspin 4s linear infinite;
}

h2.silly {
    opacity: 0;
    animation: appear 1s 3s forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes coloredspin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        border-top-color: #2ecc71;
        border-bottom-color: #2ecc71;
    }
    50% {
        border-top-color: #3498db;
        border-bottom-color: #3498db;
        transform: rotate(360deg) scale(1.05);
    }    
    75% {
        border-top-color: #9b59b6;
        border-bottom-color: #9b59b6;
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}